@use "../util/functions" as u;

.main {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  align-items: center;

  h1 {
    color: var(--grayish-blue);
  }

  &__options {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    &__option {
      color: var(--grayish-blue);
      font-size: u.rem(15);
    }

    &__toggle {
      width: 55px;
      height: 30px;
      border-radius: 1rem;
      position: relative;
      cursor: pointer;
      background: var(--linear-gradient);

      &__circle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 8%;
        transition: 500ms transform;
        background-color: var(--very-light-grayish-blue);
        transform: translateY(-50%);
      }

      &.clicked {
        .main__options__toggle__circle {
          transform: translateY(-50%) translateX(110%);
        }
      }

      &:hover,
      &:focus {
        filter: opacity(50%);
      }
    }
  }

  &__offers {
    display: flex;
    align-items: center;
    width: 100%;

    &__offer {
      flex-grow: 1;
      border-radius: 0.7rem 0 0 0.7rem;

      background-color: var(--white);
      padding: 2rem;
      text-align: center;
      color: var(--grayish-blue);
      box-shadow: 0 0 10px 1px var(--light-grayish-blue);

      &:nth-child(even) {
        border-radius: 0.7rem;
        padding-block: 3rem;
        background: var(--linear-gradient);
        * {
          color: var(--white);
        }

        button {
          color: var(--some-sorta-blue);
          background: var(--white);

          &:hover,
          &:focus {
            background: transparent;
            color: var(--white);
            outline: 1px solid var(--white);
          }
        }
      }

      h2 {
        font-size: 1.1rem;
      }

      &__price {
        margin-block: 1rem;
        color: var(--dark-grayish-blue);
        display: flex;
        align-items: center;
        justify-content: center;

        &__sign {
          font-size: 2.5rem;
        }
        &__number {
          font-size: 4.5rem;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        font-size: u.rem(15);

        &__info-piece {
          padding-block: 1rem;
          border-bottom: 2px solid var(--very-light-grayish-blue);
          &:first-child {
            border-top: 2px solid var(--very-light-grayish-blue);
          }
        }
      }

      button {
        margin-top: 2rem;
        font-size: 0.8rem;
        color: var(--very-light-grayish-blue);
        background: var(--linear-gradient);
        width: 100%;
        padding-block: 1rem;
        letter-spacing: 0.1rem;
        border-radius: 0.5rem;

        cursor: pointer;

        &:hover,
        &:focus {
          background: transparent;
          color: var(--some-sorta-blue);
          outline: 1px solid var(--some-sorta-blue);
        }
      }

      @media (max-width: 1150px) {
        border-radius: 0.7rem;
      }
    }

    @media (max-width: 1150px) {
      align-items: unset;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
